{{> navbar}}

<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles/dashboard.css" />
</head>

<header class="dash">
  <h1 class='page-name'>Dashboard</h1>
</header>

<div class="'post-form">
  <h1 class="page-title">Welcome to Your Dashboard</h1>
  <a href="/create" class="btn">Create New Post</a>
</div>
  {{!-- List the user's existing blog posts --}}
  {{#if posts}}
    <h2 class="'my-posts">Your Blog Posts</h2>
    <ul class="'posts">
      {{#each posts}}
        <li class="post">
          <a href="/post/{{ id }}">{{ title }}</a>
          <span>{{ date_created }}</span>
          <a class="edit" href="/post/edit/{{ id }}" class="btn btn-secondary">Edit</a>
          <a class="delete" href="/post/delete/{{ id }}" class="btn btn-danger">Delete</a>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>You haven't created any posts yet.</p>
  {{/if}}